{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ 'images/social.png' | absURL }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{ end }}   

{{ define "banner" }}
<!-- Banner -->
<div id="banner">
    <img class="img-fluid" src="{{ 'images/logo-banner.jpg' | absURL }}">
</div>
<!-- /Banner -->
{{ end }}

{{ define "main" }}
{{.Content}}
{{ end }}

{{ define "footer_js" }}
{{ end }}
