{{ define "header_css" }}{{ end }}
{{ define "meta_tags" }}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
    <meta property="og:title" content="{{ $.Param "menu_title" }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Title }}" />
    <meta property="og:site_name" content="{{ .Site.Params.homepage_meta_tags.meta_og_site_name }}" />
{{ end }}
{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
{{ .Content }}
{{ end }}
