@media print {
  #header {
    display: none;
  }
  #banner {
    display: none;
  }
  #nav-primary {
    display: none;
  }
  #content {
    article {
      box-shadow: none;
      background: none;
    }
  }
}